*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.app{
    margin: 15px 25px;
}
.navbar{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navpart1{
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.Navpart1 h2{
    font-size: 20px;
    font-weight:200;
}
.Navpart2{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5vw;
}
.Navpart2 h5{
    font-size: 13px;
    font-weight:100;
}
.Navpart3{
    height: 100%;
     display: flex;
    align-items: center;
}
.Navpart3 button {
    padding: 8px 15px;
    border-radius: 50px;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    
}
.Navpart3 button h4{
    font-size: 12px;
    font-weight: 100;
}
.Center{
    height: 80vh;
    width: 100%;
    position: relative;
}
.Center .img {
    height: 100%;
    width: 100%;

}
.Center img{
    height: 100%;
    width: 100%;
     object-fit: cover;
    object-position: center;
    border-radius: 1vw;
}
.Center1{
     position: absolute;
     transform: translate(-50%,-50%);
     text-align: center;
     top: 50%;
     left: 50%;
}
.Center1 h1{
    font-size: 2.5vw;
    color: rgb(245, 242, 242);
    font-weight: 100;

}
.Center1 p{
    font-size: 0.9vw;
    color: rgb(245, 242, 242);
    font-weight: 100;
    margin-top: 2vh;
}
.Center1 button{
    padding: 7px 12px;
    background-color: rgb(32, 32, 32);
    color: rgb(235, 230, 230);
   border-radius: 50px;
   border: none;
    margin-top: 2vh;
}
.Center1 button h3{
    font-size: 0.9vw;
    font-weight: 100;

}
.Section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}
p{
    width: 35vw;
    font-size: 1.2vw;
    font-weight: 500;
}
.Section2{
    margin-top: 6vh;
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.Section2 .part{
   height: 100%;
   width: 25vw;
   background-color: green;
   border-radius:2vw ;
   overflow: hidden;
}
.Section2 #p1 {
   background-color: #0D1A2D;
   color: white
}
.Section2 #p1 h2 {
   padding: 55px;
   font-weight: 200;
}
.Section2 #p1 p{
    color: gray;
    padding-left: 55px;
}
.Section2 #p2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.Section2 #p3 {
    background-color: #e2e3e7;
    padding: 3vw;
}
.Section2 #p3  h1{
    font-size: 3.5vw;
    font-weight: 200;
}
.Section2 #p3  h5{
    font-size: 1vw;
    font-weight: 600;
}

.Section2 #p3  p{
    font-size: 1vw;
    font-weight: 200;
    color: gray;
    margin-top: 0.8vw;
}
.Section2 #p3  .level {
  margin-top: 2vw;
}

.Section2 #p3  .level h3{
  font-size: 1vw;
  font-weight: 100;
  margin-top: 0.5vw;
}








