@import "tailwindcss";
@font-face {
    font-family: "font1";
    src: url(../public/fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
    font-family: "font2";
    src: url(../public/fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}