*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
button{
    background-color: lightseagreen;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
button:active{
    scale: 0.95;
}
h1{
    font-size: 30px;
}