*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img{
  height: 400px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid black;
 overflow: hidden;
 object-fit: cover;
 object-position: center;
}
button{
  padding: 10px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(67, 230, 175);
  font-size: 40px;
  color: whitesmoke;
  margin-left: 40px;
}
button:active{
  scale: 0.95;
}